<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>试试喽</title>
</head>

<body>
    <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx01163e61e7b916d4&redirect_uri=test.jijiwuming.cn%2Foauth&response_type=code&scope=snsapi_userinfo&state=state#wechat_redirect">
        <h3> 点击跳转了</h3>
    </a>
    <h1>测试页面了</h1>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="./test.js"></script>
</body>

</html>